[{folsom, [
  {counter, [accounts_deleted, accounts_created, login_succes, login_failed, measurements_created]}
]},
{lager, [
  {handlers, [
    {lager_console_backend, info},
    {lager_file_backend, [{file, "error.log"}, {level, error}]},
    {lager_file_backend, [{file, "console.log"}, {level, info}]}
    ]}
  ]},
{snmp,
  [{agent,
    [{config, [{dir, "/vagrant/snmp/agent/conf/"}]},
    {db_dir, "/vagrant/snmp/agent/db/"}]}]}
].
